header {
    background-color: black;
    color: aliceblue;
    text-align: center;
}

main {
    background-image: url(/Users/courtneyazar/Desktop/week5/prime-pw-week-5-assignment-part-2/assignment/record.png);
    display: block;
    width: auto;
    height: 720px;
    background-position: left top, right bottom;
    background-repeat: repeat;
    padding: 1em;
}

.One {
    background-color: lightgray;
    color: black;
    text-align: center;
}

body {
    margin: 0px;
}

ul {
    padding-inline: 30%;
}